.place__image {
  max-height: 460px;
  grid-auto-columns: fit-content(100%);
} 

@media screen and (max-width: 1152px) {
  .place__image {
    max-height: 440px;
    margin: 0;
  }
} 

@media screen and (max-width: 984px) {
  .place__image {
    max-height: 340px;
    margin: 0;
  }
} 

@media screen and (max-width: 568px) {
  .place__image {
    max-height: 320px;
    grid-auto-columns: fit-content(100%);
    margin: 0;
  }
} 
