.place {
    max-height: 660px;
    width: 984px;
    display: grid;
    grid-template-columns: 460px auto;
    grid-template-rows: repeat(2, auto);
    margin-bottom: 80px;
    column-gap: 40px;
    row-gap: 48px;
}